

body{
    background: linear-gradient( transparent,rgba(0,0,0,0.5)), url(../img/lycee.jpg);
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
  .inscri{
    background: transparent;
    border: 2px solid rgb(111, 106, 106);
    background-color: rgba(95, 89, 89, 0.29);
	 color: white;
    border-radius: 10px;
    padding: 30px 40px;
    width: 360px;
    height: 470px;
   
  }
  
  .login-box {
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
  }
  
  h1 {
    text-align: center;
    padding-top: 5px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 6px;
  }
.button{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
	background-color: rgb(177, 126, 68);
    color: white;
    font-size: 18px;
  }

  .button:hover{
    background-color: #64320a;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .secone {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
  }
  .secone a {
	color: rgb(177, 126, 68);
  }


  .secone a:hover {
    color: #64320a;
  }